h1, body {
    color: white;
    font-family: sans-serif
}

body {
    background-color: darkgrey
}


#somename {
    
    color: white; 
}

.somename {
    color: skyblue;
}

nav a {
    color: white;
}

a:hover {
    color: skyblue;
}

body ol li {
    color: skyblue
}