html {
    box-sizing: border-box;
    margin: 0;
}

h1,
body {
    color: white;
    font-family: sans-serif
}

body {
    background-color: darkgrey
}


#somename {

    color: white;
}

.somename {
    color: skyblue;
    border: 4px solid skyblue;
    padding: 15px
}



nav a {
    color: white;
}

a:hover {
    color: skyblue;
}

body ol li {
    color: skyblue
}

#myid {
    font-size: 1.2em;
}

.link {
    color: skyblue;
}
